2.Custom Support wrokflow.json
{
  "name": "2.Custom Support wrokflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ca1cbb26-ca35-431b-8538-5e1c217f3cbb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "NoDjXeNuZuI1VNM9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Suopport",
              "description": "An email that is related to helping out a customer. They may be asking questions about our policies or questions about our products or services.\n"
            },
            {
              "category": "Other ",
              "description": "Any Email that is not customer Support"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "2730acaf-6b91-40e2-a3c5-82c04bf6078d",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        208
      ],
      "id": "bd184591-8682-4897-bc99-1ab0a5608ab4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "za3nBgk1k4axvWf7",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        496,
        96
      ],
      "id": "43442c03-7de9-4670-b363-77dcda851e6d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "You are a customer support agent for Tech Heaven Solutions. Your role is to respond to incoming emails with accurate and helpful information using the company knowledge base.\n\nInstructions:\n\nAlways maintain a friendly and professional tone. 😊\n\nUse appropriate emojis to make the message engaging.\n\nProvide clear, concise, and relevant answers to customer queries.\n\nSign off every response as:\n\n“Mr. Helpful, Tech Heaven Solutions”\n\n# output \n- Output only the body content of the email "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        -320
      ],
      "id": "33fc4761-e159-46bc-b197-ab48e399a803",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        -128
      ],
      "id": "418b308b-a1d5-4f8c-9adb-0f0a33c711c2",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "za3nBgk1k4axvWf7",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call it to access policies and faq information",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        704,
        -112
      ],
      "id": "cb7d5bb0-47e9-4af5-a8cc-1998df07ec0e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "iND3moMbygqcVUcN",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        32
      ],
      "id": "46c68331-8487-456e-8fc9-5474e235cc96",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "za3nBgk1k4axvWf7",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}{{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1184,
        -160
      ],
      "id": "a596fd31-3cf7-4b82-8379-eeeb53bb3db8",
      "name": "Reply to a message",
      "webhookId": "7a632c0d-50b5-449b-a071-13d8422d1bfb",
      "credentials": {
        "gmailOAuth2": {
          "id": "NoDjXeNuZuI1VNM9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        -160
      ],
      "id": "4ed099d6-6ea6-470d-89d8-7273d24e1f8b",
      "name": "Add label to message",
      "webhookId": "1405840d-4aaa-4320-aa52-64370954e3d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "NoDjXeNuZuI1VNM9",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3b55b28-fd1e-45ee-a0d9-8fca6e9b8e2c",
  "meta": {
    "instanceId": "6418d18efd8fad1510aa87bc71d77dae9194b96b534ad8ff274c2143494d1e00"
  },
  "id": "7wH9UGUTFGIiFNbX",
  "tags": []
}